
.logo {
    height: 100%;
    width: 100%;
    margin: 45% 20% 0 12%;
    
}

.main-links {
    float:left;
    margin-top: 5%;
    margin-right: 2.5%;
    list-style-type: none;
    color: #2BF75F;
    font-size: 2em;
}

.SM {
    text-align: center;
    list-style-type: none;
    font-size: 1.3em;
}

.SQ {
    margin-top: 20%; 
    margin-left: 30%;
    list-style-type: none;

}

.SC {
    color: #2BF75F;
}

input {
    border: 4px solid black; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}



/* unvisited link */
a:link {
    color: #2BF75F;
}

/* visited link */
a:visited {
    color: #2BF75F;
}

/* mouse over link */
a:hover {
    color: #24DC33;
}

/* selected link */
a:active {
    color: #2BF75F;
}


.SM-Height {
    margin-top: 40%;
}

.sign-up {
    margin-top: 1%; 
    margin-left: 23.5%;
}

.video {
    margin: 15% 15% 2% 28%;
}
